.git
.turbo
**/.turbo
.cache
**/.cache

node_modules
**/node_modules
dist
**/dist
coverage
**/coverage
out
**/out

.env
**/.env
.env.*
**/.env.*
!.env.example
!**/.env.example

*.log
server
apps/server/server
